body, html {
    height:100%;
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
}
a{
  color:white;
  text-decoration: none;
}
a:hover{
  color:green
}
#textbox{
    color:white;
    text-align: center;
    padding:20px;
    border: 2px solid white;
}
h1{
    color:white;
    text-align: center;
    padding:20px
}
/*Navbar css*/
.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    color:white;
    cursor: pointer;
    background-color: black;
  }
.closeIcon {
    display: none;
  }
.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
    width: 150px;
    height:200px;
    border-color: white;
    border-style: solid;
  }
.showMenu {
    transform: translateY(0);
  }

/*Cards*/
.card{  
    margin: 5px;
    text-align: center;
}

.btn{
    background-color: black;
    border: none;
}
#pong{
    padding-top: 30px;
}

/*Footer*/
footer{
  background-color: black;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
.fa-brands{
  color:white;
  padding: 20px;
}
h4{
  color:white;
  opacity: 20%;
  font-size:10px;
}